body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

canvas {
    border: 5px solid #0000ff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#score, #maxScore {
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#gameOver {
    display: none;
    color: #000;
}

#gameOver p {
    font-size: 32px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.snake {
    fill: orange; /* Заменили черный цвет на оранжевый */
}

.food {
    fill: #ff66b2;
}
